@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
    font-family: "Alimama DaoLiTi";
    src: url('/fonts/AlimamaDaoLiTi.woff2') format('woff2'),
         url('/fonts/AlimamaDaoLiTi.woff') format('woff'),
         url('/fonts/AlimamaDaoLiTi.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "字魂水云行楷";
    src: url('/fonts/字魂水云行楷.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "微软雅黑";
    src: url('/fonts/微软雅黑.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}