@import './base.css';
@import './fonts.css';

.el-button,.el-input__inner::placeholder {
    font-family: "Microsoft YaHei"; 
}

/*login*/
.custom-message {
    width: 80% !important;
    height: 100px !important;
    border-radius: 15px !important;
}
.custom-message .el-message__icon {
    font-size: 40px; /* 设置图标大小 */
}

/*search*/
.confirm-delete-history {
    border-radius: 13px !important;
    border: solid 2px #A89E93 !important;
    width: 318px !important;
    height: 172px !important;
}
.confirm-delete-history .el-message-box__message {
  margin: 20px 0;
  font-size: 24px;
  color: #000000;
}
.confirm-delete-history .el-message-box__btns {
  gap: 40px;
}
.confirm-delete-history .el-message-box__btns .el-button {
    font-size: 20px;
    color: #987B5B;
    border-radius: 10px;
    border: solid 2px #A89E93;
    width: 77px;
    height: 48px;
}
.confirm-delete-history .el-message-box__btns .el-button--primary  {
    background-color: #F0E4D4;
    border: none;
    color: #000000;
}

.sort-popover{
    background-color: #F8F0E6!important;
    border: solid 1px #E6DBCD !important;
    border-radius: 14px !important;
    box-shadow: none !important;
}

.user-popover{
    border: solid 1px #987B5B!important;
    border-radius: 10px!important; 
    box-shadow: none !important;
    margin-left: 10px !important;
}
